body{
    background-color: #AF8F6F;
    color: #F8F4E1;
}

.id, .user{
    opacity: 0.7;
}

input, textarea{
    background-color: #F8F4E1;
    color: #543310;
    border-radius: 10px;
    padding: 10px;
}

.content, .title{
    display: flex;
    /* align-items: center; */
}

label{
    padding: 10px;
}